:root {
    font-size: 62.5%;

    --font-base: "Vollkorn", Arial, sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
    /* height: auto; */
}

body,
input,
button,
textarea {
    font: 400 1.6rem var(--font-base);

    font-optical-sizing: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}
