:root {
    font-size: 62.5%;

    --font-base: "Vollkorn", Arial, sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

body,
input,
button,
textarea {
    font: 400 1.6rem var(--font-base);

    font-optical-sizing: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

.estrutura {
    display: grid;
    grid-template-columns: minmax(160px, 1fr) 3fr 300px;
    grid-template-areas:
        "header header header"
        "sidenav content anuncios"
        "footer footer footer";
}

.header {
    grid-area: header;
}

.sidenav {
    grid-area: sidenav;
}

.content {
    grid-area: content;
}

.anuncios {
    grid-area: anuncios;
}

.footer {
    grid-area: footer;
}

@media (max-width: 1200px) {
    .estrutura {
        grid-template-areas:
            "header header header"
            "sidenav content content"
            "sidenav anuncios anuncios"
            "footer footer footer";
    }
}
@media (max-width: 760px) {
    .estrutura {
        grid-template-columns: 100%;
        grid-template-areas:
            "header"
            "sidenav"
            "content"
            "anuncios"
            "footer";
    }
}
